body {
  background-color: black;
  color: white;
  text-align: center;
}
button{
  cursor: pointer;
  transition: 0.3s;
}
button:hover{
  background-color: darkgray;
  border-color: darkgray;
}

.title{
  font-size: 50px;
}
.exibir{
  width: 10%;
  height: 5%;
  font-size: x-large;
  border: 2px white solid;
  border-radius: 20px;
}
.search {
  width: 80%;
  border: 2px white solid;
  border-radius: 20px;
  padding-left: 15px;
  font-size: larger;
}

.search:focus {
  border: 2px white solid;
}

.pokemon {
  border: 2px white solid;
  border-radius: 100px;
  background-color: darkgrey;
  padding: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.detalhePokemon {
  border: 2px solid white;
  background-color: grey;
  transition: 0.3s;
  border-radius: 10px;
  width: 25%;
  height: 10%;
  padding: 10px;
  margin: 20px auto;
}

.detalhePokemon:hover {
  background-color: darkgrey;
}

.tipos {
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 100px;
}

.tipos:hover {
  cursor: pointer;
}